@model IEnumerable<AmazonCloneMVC.Models.Produit>

@{
    ViewData["Title"] = "Index";

}

<style>
    /* Container for the search bar */
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    /* Input field styling */
    .search-input {
        padding: 10px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    /* Search button styling */
    .search-button {
        padding: 10px 20px;
        background-color: #f90;
        color: white;
        border: 1px solid #f90;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

        /* Search button hover effect */
        .search-button:hover {
            background-color: #ff9900;
        }
</style>
<h1 class="mt-5 text-center">Bienvenue</h1>
<div class="row mt-2"></div>

<form asp-action="Index">

<div class="search-container">

        <input type="text" name="searchString" class="search-input" placeholder="Search...">
    <button type="submit" class="search-button">Search</button>
</div>
</form>
<div class="row mt-5"></div>

<div class="row mt-5"></div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@item.ImagePath" style="width:350px;height:236px" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Prix) MAD</p>
                    <form asp-action="AddToCard" class="row">
                        <input name="ProduitId" type="hidden" value="@item.ProduitID" class="form-control" />
                        <button class="col btn btn-warning ml-2" type="submit">Add to Cart</button>                
                        <a href="Produits/Details/@item.ProduitID" class="col btn btn-outline-info mr-2" >Details</a>
                     </form>
                     </div>
            </div>
        </div>
    }
    <div class="row mt-5"></div>

</div>


                        